@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #fff;
  --text-color: #404756;
  --active-navlink-bg: #23272f;
  --active-navlink-text: #fff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

html {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}

.dark-mode {
  --bg-color: #23272f;
  --text-color: #fff;
}

a.active {
  background-color: var(--active-navlink-bg) !important;
  color: var(--active-navlink-text) !important;
}

.dark-mode-navlink {
  --active-navlink-bg: #fff;
  --active-navlink-text: #404756;
}

@media only screen and (max-width: 600px) {
  .navbar-start {
    width: 10% !important;
  }
}
